<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Document</title>
    <!-- <style>
    body{
        background-color: aqua;
    }
    </style> -->
</head>
<body background="https://i.pinimg.com/originals/57/f5/fa/57f5fa649b7683b5ee4999242e873e63.jpg">
    <header>
        <h1>Music Strike</h1>
        <a href="/lyrics">lyrics</a>
    </header>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <fieldset>
        <legend>
            SEARCH SONG OR SINGER
        </legend>
        <!-- <form action="/test" method="GET" id="SearchForm" ></form> -->
    <form id="SearchForm" >
        <br>
        <input type="text" name="input" placeholder="Name here" id="searchInput" autocomplete="off" required>
        <p>Please select your type</p>
        <!-- <input  type="radio" name="select" required>SINGER <br><br>  -->
        <button id="myDIV"type="submit">submit</button>
        </fieldset>
    </form>
    <div id="searchResult"></div>
<!-- ch1-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
       $(document).ready(function() { 
            $(document).on('submit','#SearchForm',function(e){
                var searchInput = $('#searchInput').val();
                e.preventDefault();
                $.ajax({
                url: `https://deezerdevs-deezer.p.rapidapi.com/search?q=${searchInput}`,
                type: 'GET',
                headers: {
                    'x-rapidapi-host': 'deezerdevs-deezer.p.rapidapi.com',
                    'x-rapidapi-key': 'b7c9ddf4dcmsh3fed6859a77bf85p11dd80jsn396438f74ee5'
                },
                success: function(res) {
                    let container = $("#searchResult");
                    var searchResult =`<div id ="carousel" style="height:1000px">
  

  
`
let slides=["hideLeft","prevLeftSecond","prev","selected","next","nextRightSecond","hideRight"];

                    //console.log(res);
                    for(let i = 0 ; i<  slides.length ; i++ ){
                        // for(let x = 0 ; x< slides.length ; x++ ){
                        searchResult += `<div class="${slides[i]}" ><h2 class='title'>${res.data[i].title}</h2>
                            <img  style="width:100%" src='${res.data[i].album.cover_medium}'>
                            <audio controls>
                              <source src='${res.data[i].preview}' type="audio/mpeg">
                            </audio>
                            
                            <h3 class="text" class="album">${res.data[i].album.title}</h3>
                            <form action="/myplaylist" method="GET">
                            <input class="hidden" type="text" name="title" value="${res.data[i].title}">
                            <input class="hidden" type="text" name="album_cover_image" id="album_cover_image"
                                value="${res.data[i].album.cover_medium}">
                            <input class="hidden" type="text" name="artistName" id="artistName" value="${res.data[i].artist.name}">
                            <input class="hidden" type="text" name="preview_mp3" id="preview" value="${res.data[i].preview}">
                            <input class="hidden" type="text" name="album_title" id="album_title"
                                value="${res.data[i].album.title}">
                            <button type="submit" id="addtodatabase">Add To Playlist</button></div>
                        </form>

                            `;
                        // }
                        
                    }
                    searchResult += ` </div>`
                    container.html(searchResult)
                }
            });
            });
        })
        
</script>
  <div class="buttons">
      <button id="prev">Prev</button>
      <button id="next">Next</button>
    </div>
    <br>
    <div >
       <h1>top chart here</h1> 
       <ol style="overflow: scroll; height: 450px; width:300 ;">
        <% topSong.forEach((song) =>{ %>
            <li><%= "Artist: " +song.artist_song +' Song: '+ song.title_song %></li>
            <!-- <li><%= song.title_song %></li> -->
            
            <% }); %>
        </ol>
    </div>
<script>
    function moveToSelected(element) {

if (element == "next") {
  var selected = $(".selected").next();
} else if (element == "prev") {
  var selected = $(".selected").prev();
} else {
  var selected = element;
}

var next = $(selected).next();
var prev = $(selected).prev();
var prevSecond = $(prev).prev();
var nextSecond = $(next).next();

$(selected).removeClass().addClass("selected");

$(prev).removeClass().addClass("prev");
$(next).removeClass().addClass("next");

$(nextSecond).removeClass().addClass("nextRightSecond");
$(prevSecond).removeClass().addClass("prevLeftSecond");

$(nextSecond).nextAll().removeClass().addClass('hideRight');
$(prevSecond).prevAll().removeClass().addClass('hideLeft');

}

// Eventos teclado
$(document).keydown(function(e) {
  switch(e.which) {
      case 37: // left
      moveToSelected('prev');
      break;

      case 39: // right
      moveToSelected('next');
      break;

      default: return;
  }
  e.preventDefault();
});

$('#carousel div').click(function() {
moveToSelected($(this));
});

$('#prev').click(function() {
moveToSelected('prev');
});

$('#next').click(function() {
moveToSelected('next');
});

</script>
</body>
</html>